.about {
  background-color: rgba(255, 245, 246, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
  &__first-headline {
    text-align: center;
    max-width: 198px;
    margin: auto;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #ffa5ba;
    font-family: 'Titan One';
    margin-top: 125px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 30px;
      max-width: 285px;
    }
    @media (min-width: 1280px) {
      font-size: 30px;
      line-height: 34px;
      max-width: 351px;
    }
  }

  &__second-headline {
    text-align: center;
    max-width: 200px;
    margin: auto;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 26px;
    color: #d41443;
    font-family: 'Titan One';

    @media (min-width: 768px) {
      font-size: 48px;
      max-width: 431px;
      line-height: 55px;
      letter-spacing: 0.04em;
    }
    @media (min-width: 1280px) {
      font-size: 58px;
      line-height: 66px;
      letter-spacing: 0.06em;
      max-width: 537px;
    }
  }
  &__image {
    margin: auto;

    height: 279px;
    margin-bottom: 46px;
    @media (max-width: 767px) {
      max-width: 280px;
    }
    @media (min-width: 768px) {
      margin: 0;
      width: 340px;
      height: 339px;
    }
    @media (min-width: 1280px) {
      width: 516px;
      height: 516px;
    }
  }

  &__first-description {
    max-width: 220px;
    margin: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    /* or 19px */
    margin-bottom: 47px;
    color: #000000;
    font-family: 'DM Sans';

    @media (min-width: 768px) {
      max-width: 340px;
      font-size: 14px;
      line-height: 1.76;
    }

    @media (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.76;
      max-width: 463px;
    }
  }
  &__background-milk-image {
    width: 100%;
    position: absolute;
    bottom: 127px;
    height: 133px;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__background-milk-image-desktop {
    display: none;

    @media (min-width: 1280px) {
      display: block;
      position: absolute;
      height: 534px;
      bottom: 24px;
      width: 100%;
    }
  }
  &__second-description {
    max-width: 220px;
    margin: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    /* or 19px */

    color: #907e82;
    font-family: 'DM Sans';

    @media (min-width: 768px) {
      max-width: 340px;
      letter-spacing: 0.04em;
      font-size: 14px;
      line-height: 1.76;
    }
    @media (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.94;
      max-width: 463px;
    }
  }
  &__btn {
    margin-top: 47px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #d41443;

    width: 176px;
    height: 44px;

    background: #ffffff;
    border-radius: 22px;
    padding-left: 15px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__btn:hover {
    background: #ecebeb;
  }
  &__btn-icon {
    fill: rgba(212, 20, 67, 1);
    width: 20px;
    height: 9px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 17px;
    }
    @media (min-width: 1280px) {
      gap: 74px;
    }
  }
  &__img-wrapper {
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
      margin-top: 50px;
    }
    @media (min-width: 1280px) {
      margin-top: 55px;
    }
  }
  &__description-wrapper {
    position: relative;
    margin-bottom: 18px;
    @media (min-width: 768px) {
      margin-top: 100px;
      margin-bottom: 45px;
    }
    @media (min-width: 1280px) {
      margin-bottom: 151px;
    }
  }
}
