.about {
  background-color: rgba(255, 245, 246, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.about__first-headline {
  text-align: center;
  max-width: 198px;
  margin: auto;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;
  font-family: 'Titan One';
}
.about__second-headline {
  text-align: center;
  max-width: 200px;
  margin: auto;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: #d41443;
  font-family: 'Titan One';
}
.about__image {
  margin: auto;
  max-width: 280px;
  margin-bottom: 46px;
}
.about__first-description {
  max-width: 220px;
  margin: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  margin-bottom: 47px;
  color: #000000;
  font-family: 'DM Sans';
}
.about__background-milk-image {
  background-image: url(../images/background-milk.png);

  background-size: 100% 133px;
  background-repeat: no-repeat;
}
.about__second-description {
  max-width: 220px;
  margin: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  margin-bottom: 47px;
  color: #907e82;
  font-family: 'DM Sans';
}
.about__btn {
  margin-top: 47px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #d41443;

  width: 176px;
  height: 44px;

  background: #ffffff;
  border-radius: 22px;
  padding-left: 15px;
}
.about__btn-icon {
  fill: rgba(212, 20, 67, 1);
}
