.about {
  background-color: rgba(255, 245, 246, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
}

.about__first-headline {
  text-align: center;
  max-width: 198px;
  margin: auto;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;
  font-family: 'Titan One';
  margin-top: 125px;
}
@media (min-width: 768px) {
  .about__first-headline {
    font-size: 26px;
    line-height: 30px;
    max-width: 285px;
  }
}
@media (min-width: 1280px) {
  .about__first-headline {
    font-size: 30px;
    line-height: 34px;
    max-width: 351px;
  }
}
.about__second-headline {
  text-align: center;
  max-width: 200px;
  margin: auto;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: #d41443;
  font-family: 'Titan One';
}
@media (min-width: 768px) {
  .about__second-headline {
    font-size: 48px;
    max-width: 431px;
    line-height: 55px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1280px) {
  .about__second-headline {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    max-width: 537px;
  }
}
.about__image {
  margin: auto;

  height: 279px;
  margin-bottom: 46px;
}
@media (max-width: 767px) {
  .about__image {
    max-width: 280px;
  }
}
@media (min-width: 768px) {
  .about__image {
    margin: 0;
    width: 340px;
    height: 339px;
  }
  @media (min-width: 1280px) {
    .about__image {
      width: 516px;
      height: 516px;
    }
  }
}
.about__first-description {
  max-width: 220px;
  margin: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  margin-bottom: 47px;
  color: #000000;
  font-family: 'DM Sans';
}
@media (min-width: 768px) {
  .about__first-description {
    max-width: 340px;
    font-size: 14px;
    line-height: 176%;
  }
}
@media (min-width: 1280px) {
  .about__first-description {
    font-size: 16px;
    line-height: 176%;
    max-width: 463px;
  }
}
.about__background-milk-image {
  // background-image: url(../images/background-milk.png);

  // background-size: 100% 133px;
  // background-repeat: no-repeat;
  width: 100vw;
  position: absolute;
  bottom: 127px;
  height: 133px;
}
@media (min-width: 768px) {
  .about__background-milk-image {
    display: none;
  }
}
.about__background-milk-image-desktop {
  display: none;
}
@media (min-width: 1280px) {
  .about__background-milk-image-desktop {
    display: block;
    position: absolute;
    height: 534px;
    bottom: 24px;
    width: 100vw;
  }
}
.about__second-description {
  max-width: 220px;
  margin: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */

  color: #907e82;
  font-family: 'DM Sans';
}
@media (min-width: 768px) {
  .about__second-description {
    max-width: 340px;
    letter-spacing: 0.04em;
    font-size: 14px;
    line-height: 176%;
  }
}
@media (min-width: 1280px) {
  .about__second-description {
    font-size: 14px;
    line-height: 194%;
    max-width: 463px;
  }
}
.about__btn {
  margin-top: 47px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #d41443;

  width: 176px;
  height: 44px;

  background: #ffffff;
  border-radius: 22px;
  padding-left: 15px;
  border: 0px;
}
.about__btn-icon {
  fill: rgba(212, 20, 67, 1);
}
.about__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__wrapper {
    flex-direction: row;
    gap: 17px;
  }
}
@media (min-width: 1280px) {
  .about__wrapper {
    gap: 74px;
  }
}
.about__img-wrapper {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .about__img-wrapper {
    margin-top: 50px;
  }
}
.about__description-wrapper {
  position: relative;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .about__description-wrapper {
    margin-top: 100px;
    margin-bottom: 66px;
  }
}
@media (min-width: 1280px) {
  .about__description-wrapper {
    margin-bottom: 172px;
  }
}
