.collage {
    background-image: linear-gradient(to bottom, $pink-background 40%, $white 40%);
    

    &__container {
        padding: 0;
        
    }

    &__img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }
}