.contacts {
  background: linear-gradient($white 6%, $pink-bcg-light 6%);
}
.cards {
  display: flex;
  font-style: $font-family-secondary;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.contacts-btn--right {
  fill: $red-font;
  width: 4px;
  height: 8px;
}
.contacts-btn--left {
  fill: $white;
  width: 4px;
  height: 8px;
}
.container-contacts {
  padding-bottom: 86px;
}
.container-contacts-btn {
  padding-bottom: 113px;
}
.card {
  width: 220px;
  height: 427px;
  font-size: 12px;
  background-color: $white;
  border-radius: 24px;
  position: relative;
  padding-left: 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  gap: 20px;

  &__main-text {
    position: absolute;
    left: 20px;
    top: 43px;
    background-color: $coffee;
    width: 80px;
    height: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
  }

  &__text {
    position: absolute;
    top: 83px;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
  }

  &__paragraph {
    position: absolute;
    left: 20px;
    color: #907e82;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__paragraph--first {
    top: 106px;
    width: 170px;
  }

  &__paragraph--second {
    bottom: 172px;
    color: $pink-font;
  }

  &__paragraph--third {
    bottom: 120px;
    color: $pink-font;
  }

  &__border {
    width: 82%;
    border-bottom: #e1e1e1 solid 1px;
    position: absolute;
  }

  &__border--first {
    top: 177px;
  }

  &__border--second {
    top: 322px;
  }

  &__plan {
    position: absolute;
    font-size: 12px;
    line-height: 186%;
    font-weight: 500;
  }

  &__plan--first {
    top: 202px;
  }

  &__plan--second {
    position: absolute;
    top: 255px;
  }

  &__nav {
    position: absolute;
    bottom: 43px;
    color: $copyright-font;
    font-size: 12px;
    line-height: 18px;
  }
}
.contacts-nav-color {
  text-decoration-color: $copyright-font;
  color: $copyright-font;
}

.card__main-text--foodtruck {
  background-color: $pistachio;
  width: 130px;
  height: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
}

.button__style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  border: 0;
}

.button__style--primary {
  color: white;
  background-color: $red-font;
}

.button__style--secondary {
  color: $red-font;
  background-color: $white;
}

.button__style--secondary:hover {
  background: $hove-btn-white;
}

@media (min-width: 768px) {
  .contacts {
    background: linear-gradient($white 12%, $pink-bcg-light 12%);
  }
  .cards {
    flex-direction: row;
    justify-content: center;
  }
  .container-contacts {
    padding-bottom: 81px;
  }
  .container-contacts-btn {
    padding-bottom: 165px;
  }
  .card {
    height: 544px;
    font-size: 16px;

    &__main-text {
      width: 72px;
      height: 28px;
      top: 50px;
      left: 30px;
      font-size: 16px;
    }

    &__main-text--foodtruck {
      width: 138px;
      height: 28px;
    }

    &__text {
      top: 108px;
      left: 30px;
      font-size: 16px;
    }

    &__paragraph {
      font-size: 16px;
      left: 30px;
    }

    &__paragraph--first {
      top: 148px;
      font-weight: 500;
      font-size: 14px;
      line-height: 166%;
    }

    &__paragraph--second {
      top: 279px;
    }

    &__paragraph--third {
      top: 345px;
    }

    &__border--first {
      top: 243px;
    }

    &__border--second {
      top: 416px;
    }

    &__plan {
      left: 30px;
    }

    &__plan--first {
      top: 263px;
      font-size: 16px;
    }

    &__plan--second {
      top: 326px;
      font-size: 16px;
    }

    &__nav {
      top: 445px;
      left: 30px;
      font-size: 16px;
    }
    &__nav--style {
      line-height: 200%;
    }
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
}

@media (min-width: 1280px) {
  .contacts {
    background: linear-gradient($white 14%, $pink-bcg-light 14%);
  }
  .container-contacts {
    padding-bottom: 86px;
  }
  .container-contacts-btn {
    padding-bottom: 165px;
  }
  .card {
    height: 572px;
    width: 330px;

    &__main-text {
      left: 43px;
    }
    &__paragraph--first {
      width: 200px;
    }
    &__text {
      left: 43px;
    }

    &__paragraph {
      left: 43px;
    }

    &__plan {
      left: 43px;
    }

    &__nav {
      left: 43px;
      // top: 10px;
    }
    &__nav--style {
      line-height: 220%;
    }
  }
}
.contacts-header {
  display: none;
}
.card__btn-icon {
  fill: rgba(212, 20, 67, 1);
  width: 20px;
  height: 9px;
}
.card__btn-icon--red {
  fill: $white;
}
