.footer {
  background-color: $pink-bcg-light;
}

.container {
  &__change {
    margin-bottom: 43px;
    padding-top: 1px;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 91px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: unset;
    }
  }
}

.footer-texts {
  max-width: 234px;
  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin-bottom: unset;
  }

  @media screen and (min-width: 1280px) {
    max-width: 477px;
    margin-bottom: 97px;
  }

  &__title {
    max-width: 232px;
    font-family: $font-family-primary;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $pink-font;

    @media screen and (min-width: 768px) {
      max-width: 340px;
      font-size: 26px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      margin-top: auto;
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 472px;
      font-size: 30px;
      line-height: 1.13;
      margin-bottom: 15px;
    }
  }

  &__catchword {
    max-width: 200px;
    font-family: $font-family-primary;
    font-size: 34px;
    line-height: 1.15;
    text-transform: uppercase;
    color: $red-font;

    @media screen and (min-width: 768px) {
      max-width: 340px;
      font-size: 48px;
      letter-spacing: 0.06em;
      margin-top: auto;
      margin-bottom: auto;
    }

    @media screen and (min-width: 1280px) {
      max-width: 477px;
      font-size: 58px;
      line-height: 1.14;
    }
  }
}

.footer-social {
  &__list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
    gap: 28px;

    @media screen and (min-width: 768px) {
      gap: 30px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 50px;
      gap: 24px;
    }
  }

  &__sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    fill: $white;
    background-color: $pink-svg;
    transition: background-color $transition-duration $transition-timing-function,
      fill $transition-duration $transition-timing-function;

    @media screen and (min-width: 768px) {
      width: 34px;
      height: 34px;
    }

    &:hover,
    &:focus {
      background-color: $red-font;
      fill: $pistachio;
    }
  }

  &__icon {
    width: 18px;
    height: 19px;

    @media screen and (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 1.83;
  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: unset;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.02em;
  }

  &__link {
    color: $red-font;
    text-decoration: none;
    transition: $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
      color: $pink-font;
    }
  }
}

.footer-copyright {
  border-top: 1px solid $grey-line;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }

  &__info {
    max-width: 150px;
    font-family: $font-family-secondary;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: $copyright-font;
    padding: 0 5px;

    @media screen and (min-width: 768px) {
      max-width: 276px;
      line-height: 1.86;
      letter-spacing: 0.02em;
      padding: unset;
    }
  }
}
