.header-burger__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header-burger__icon {
  height: 12px;
  width: 20px;
  fill: $red-font;
}

.header-burger__button-open {
  border: none;
  box-shadow: none;
}

.header-navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 35px;
}


.header-navigation {
  margin: auto;
  display: none;
}

.header-navigation__list-item {
  display: none;
}

.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 6px;
}

.header-logo {
  align-items: center;
}

.header-form__button {
  display: none;
}
.header-wrapper {
  width: 100%;
}


@media screen and (min-width: 768px) {
  .header-flex {
    justify-content: flex-start;
    padding-top: 37px;
  }
  .header-logo {
    flex-grow: 2;
  }

 
  .header-burger__button-open {
    align-items: center;
  }

  .header-form__button {
    width: 159px;
    height: 44px;
    border-radius: 22px;
    border: none;
    font-family: var($font-family-secondary);
    color: $red-font;
    background-color:$white ;
    font-size: 16px;
    font-weight: 700;
    margin-left: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .header-form {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .header-navigation__list-item {
    font-family: var($font-family-secondary);
    font-size: 16px;
    font-weight: 700;
    color: $white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    visibility: visible;
  }
  .header-navigation {
    display: flex;
  }

  .header-navigation__list-item:focus,
  .header-navigation__list-item:hover {
    color: $red-font;
  }

  .header-form {
    display: block;
    align-items: right;
  }

  .header-burger__button-open {
    display: none;
  }
  .header-flex {
    margin-left: -69px;
    width: 1119px;
    gap: 110px;
  }
  .header-burger__button {
    display: none;
  }
  .header-logo {
    flex-grow: 0;
  }
}
