.icecream-wrapper {
  font-family: $font-family-secondary;
  background-color: $pinkt-bcg-dark;
  overflow: hidden;
  z-index: -10;
}
.icecream {
  z-index: 5;
  position: relative;
  padding-bottom: 160px;
  @media screen and (min-width: 768px) {
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 45px;
  }
  &__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid black;
    @media screen and (min-width: 768px) {
      height: 90px;
    }
  }
  &__content {
    margin-top: 119px;
    @media screen and (min-width: 768px) {
      margin-top: 15px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 94px;
    }
  }
  //SEKCJA Z TYTUŁEM//
  &__title {
    font-family: $font-family-primary;
    color: $white;
    font-size: 26px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    font-weight: 400;
    margin: 0;
    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 38px;
    }

    &--secondary {
      display: block;
      color: $red-font;
      font-size: 48px;
      @media screen and (min-width: 768px) {
        font-size: 34px;
      }
      @media screen and (min-width: 1280px) {
        font-size: 58px;
      }
    }
  }
  //SEKCJA Z PRZYCISKAMI//
  &__buttons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 8px;
    margin: 20px 0 0;
    @media screen and (min-width: 1280px) {
      margin: 25px 0 0;
      gap: 15px;
    }
  }
  &__button {
    padding: 10px 15px;
    font-size: 8px;
    line-height: 1.3;
    border: 0;
    border-radius: 20px;
    transition: background-color $transition-duration $transition-timing-function;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      height: 40px;
    }
    &--primary {
      color: $white;
      background-color: $red-font;
      @media screen and (min-width: 1280px) {
        width: 104px;
      }
      &:hover,
      &:focus {
        background-color: $hove-btn-red;
      }
    }
    &--secondary {
      color: $red-font;
      background-color: $white;
      @media screen and (min-width: 1280px) {
        width: 138px;
      }
      &:hover,
      &:focus {
        background-color: $hove-btn-white;
      }
    }
  }
  //SEKCJA Z LODEM//
  &__ice {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: -5px;
    @media screen and (min-width: 768px) {
      right: 200px;
    }
    @media screen and (min-width: 1280px) {
      right: 340px;
    }
    &--picture {
      width: 171px;
      height: 410px;
      position: relative;
      background-image: url('../images/ice.png');
      background-repeat: no-repeat;
      background-size: contain;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/ice@2x.png');
      }
      @media (min-device-pixel-ratio: 3), (min-resolution: 192dpi), (min-resolution: 3dppx) {
        background-image: url('../images/ice@3x.png');
      }
      @media screen and (min-width: 768px) {
        width: 143px;
        height: 336px;
      }
      @media screen and (min-width: 1280px) {
        background-image: url('../images/ice-desktop.png');
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url('../images/ice-desktop@2x.png');
        }
        @media (min-device-pixel-ratio: 3), (min-resolution: 192dpi), (min-resolution: 3dppx) {
          background-image: url('../images/ice-desktop@3x.png');
        }
        width: 236px;
        height: 557px;
      }
      &::after {
        content: '';
        position: absolute;
        z-index: -2;
        right: -80px;
        bottom: 85px;
        width: 346px;
        height: 346px;
        background-color: $pink-font;
        border-radius: 50%;
        @media screen and (min-width: 768px) {
          width: 324px;
          height: 324px;
          right: -100px;
          bottom: 55px;
        }
        @media screen and (min-width: 1280px) {
          width: 538px;
          height: 538px;
          right: -170px;
          bottom: 100px;
        }
      }
    }
  }
  //sekcja z dzbankiem mleka//
  &__milk {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: flex-end;
      margin-top: 19px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: -38px;
      margin-top: 58px;
    }
    &--pic {
      display: inline-block;
      width: 124px;
      height: 126px;
      background-image: url('../images/bio-eco@2x.png');
      background-repeat: no-repeat;
      background-size: contain;
      @media (min-device-pixel-ratio: 3), (min-resolution: 192dpi), (min-resolution: 3dppx) {
        background-image: url('../images/bio-eco@3x.png');
      }
      @media screen and (min-width: 1280px) {
        width: 188px;
        height: 191px;
        background-size: cover;
      }
    }
    &--txt {
      display: inline-block;
      color: $white;
      font-size: 8px;
      line-height: 1.5;
      max-width: 114px;
      @media screen and (min-width: 1280px) {
        max-width: 200px;
        font-size: 14px;
        line-height: 1.43;
      }
    }
  }
  &__arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 6px;
    border: 0;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: $white;
    @media screen and (min-width: 1280px) {
      height: 26px;
      width: 26px;
    }
  }
  &__arrow-icon {
    fill: $red-font;
    width: 6px;
    height: 6px;
    @media screen and (min-width: 1280px) {
      width: 8px;
      height: 8px;
    }
  }
  //sekcja z miejscami//
  &__places {
    display: none;
    @media screen and (min-width: 768px) {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 94px;
      right: 10px;
      gap: 15px;
      @media screen and (min-width: 1280px) {
        top: 156px;
        right: 0;
      }
    }
    &--element {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        background-color: $white;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        z-index: -1;
        @media screen and (min-width: 1280px) {
          width: 30px;
          height: 30px;
          right: -18px;
        }
      }
    }
    &--quant {
      margin: 0;
      color: $red-font;
      font-family: $font-family-primary;
      font-size: 28px;
      line-height: 1.145;
      @media screen and (min-width: 1280px) {
        font-size: 46px;
      }
    }
    &--name {
      margin: 0;
      color: $white;
      font-size: 8px;
      line-height: 1.3;
      @media screen and (min-width: 1280px) {
        font-size: 14px;
      }
    }
  }
  //sekcja z panią//
  &__tasty {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 168px;
      height: 133px;
      background-image: url('../images/so-tasty@2x.png');
      background-size: contain;
      @media (min-device-pixel-ratio: 3), (min-resolution: 192dpi), (min-resolution: 3dppx) {
        background-image: url('../images/so-tasty@3x.png');
      }
      @media screen and (min-width: 1280px) {
        width: 293px;
        height: 232px;
        right: 0;
      }
    }
  }
}
.slide-bottom {
  -webkit-animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse
    both;
  animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
}
.slide-bottom-delay {
  -webkit-animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s infinite
    alternate-reverse both;
  animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s infinite alternate-reverse
    both;
}
.scale-up-center {
  -webkit-animation: scale-up-center 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
    alternate-reverse both;
  animation: scale-up-center 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate-reverse both;
}
