.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ul {
  list-style: none;
}
.products__title {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  color: $red-font;
  margin: 0;
  margin-bottom: 144px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 259px;
  }
}
.products__title--secondary {
  display: flex;
  text-align: center;
  padding-top: 121px;
  font-weight: 400;
  padding-bottom: 15px;
  font-family: $font-family-primary;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: $pink-font;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
  }
}
.product-group {
  text-align: center;
  padding: 0;
  flex-basis: calc((100%) / 1);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-basis: calc((100% - 40px) / 3);
  }
  @media screen and (min-width: 1280px) {
    gap: 27px;
    flex-basis: calc((100% - 54px) / 3);
  }
}
.product-item__title {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  padding-top: 161px;
  padding-bottom: 30px;
  margin: 0;

  @media screen and (min-width: 768px) {
    padding-top: 152px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 163px;
    font-size: 30px;
    line-height: 34px;
    padding-bottom: 32px;
  }
}
.product-item__background--primary {
  position: relative;
  background: $pink-font;
  border-radius: 24px;
  width: 280px;
  height: 485px;
  margin-bottom: 130px;

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 485px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    height: 525px;
  }

  &::before {
    @media screen and (max-width: 767px) {
      content: '';
      background-image: url('../images/ice-cream.png');
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 252px;
      left: 17px;
      top: -115px;
      background-size: auto;
      background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      content: '';
      background-image: url('../images/ice-cream@2x.png');
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 252px;
      left: 17px;
      top: -115px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      content: '';
      background-image: url('../images/ice-cream.png');
      position: absolute;
      top: -100px;
      height: 226px;
      z-index: 3;
      width: 100%;
      left: 3px;
      top: -104px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
      screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
      content: '';
      background-image: url('../images/ice-cream@2x.png');
      position: absolute;
      top: -100px;
      height: 226px;
      z-index: 3;
      width: 100%;
      left: 3px;
      top: -104px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 1280px) {
      content: '';
      background-image: url('../images/ice-cream.png');
      position: absolute;
      top: -209px;
      height: 335px;
      width: 100%;
      z-index: 3;
      left: 0px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      content: '';
      background-image: url('../images/ice-cream@2x.png');
      position: absolute;
      top: -209px;
      height: 335px;
      width: 100%;
      z-index: 3;
      left: 0px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.product-item__background--secondary {
  position: relative;
  background: $coffee;
  border-radius: 24px;
  width: 280px;
  height: 485px;
  margin-bottom: 130px;
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 485px;
  }
  @media screen and (min-width: 1280px) {
    width: 329px;
    height: 525px;
  }

  &::before {
    @media screen and (max-width: 767px) {
      content: '';
      background-image: url('../images/ice-coffee.png');
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 252px;
      left: 17px;
      top: -115px;
      background-size: auto;
      background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      content: '';
      background-image: url('../images/ice-coffee@2x.png');
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 252px;
      left: 17px;
      top: -115px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      content: '';
      background-image: url('../images/ice-coffee.png');
      position: absolute;
      top: -100px;
      height: 226px;
      z-index: 3;
      width: 100%;
      left: 3px;
      top: -104px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
      screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
      content: '';
      background-image: url('../images/ice-coffee@2x.png');
      position: absolute;
      top: -100px;
      height: 226px;
      z-index: 3;
      width: 100%;
      left: 3px;
      top: -104px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 1280px) {
      content: '';
      background-image: url('../images/ice-coffee.png');
      position: absolute;
      top: -209px;
      height: 335px;
      width: 100%;
      z-index: 3;
      left: 0px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      content: '';
      background-image: url('../images/ice-coffee@2x.png');
      position: absolute;
      top: -209px;
      height: 335px;
      width: 100%;
      z-index: 3;
      left: 0px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.product-item__background--tertiary {
  position: relative;
  background: $pistachio;
  border-radius: 24px;
  width: 280px;
  height: 485px;
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 485px;
  }
  @media screen and (min-width: 1280px) {
    width: 329px;
    height: 525px;
  }

  &::before {
    @media screen and (max-width: 767px) {
      content: '';
      background-image: url('../images/milkshakes.png');
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 252px;
      left: 17px;
      top: -115px;
      background-size: auto;
      background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      content: '';
      background-image: url('../images/milkshakes@2x.png');
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 252px;
      left: 17px;
      top: -115px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      content: '';
      background-image: url('../images/milkshakes.png');
      position: absolute;
      top: -100px;
      height: 226px;
      z-index: 3;
      width: 100%;
      left: 3px;
      top: -104px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
      screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
      content: '';
      background-image: url('../images/milkshakes@2x.png');
      position: absolute;
      top: -100px;
      height: 226px;
      z-index: 3;
      width: 100%;
      left: 3px;
      top: -104px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 1280px) {
      content: '';
      background-image: url('../images/milkshakes.png');
      position: absolute;
      top: -209px;
      height: 335px;
      width: 100%;
      z-index: 3;
      left: 0px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      content: '';
      background-image: url('../images/milkshakes@2x.png');
      position: absolute;
      top: -209px;
      height: 335px;
      width: 100%;
      z-index: 3;
      left: 0px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.product-item__description {
  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04em;
  color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 41px;
  padding-right: 39px;
  margin: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.product-item__description-td {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.04em;
    color: $white;
    padding-bottom: 40px;
    padding-left: 11px;
    padding-right: 11px;
    margin: 0;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 62px;
  }
}
.product-item__dots {
  fill: $white;
}
.product-icon {
  fill: $red-font;
}
.product-btn {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
