.slider__list {
  &__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 29px;
  }

  &__box {
    padding: 0 50px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    padding-top: 43px;
    padding-bottom: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      background-image: url('../images/quote.png');
      width: 54px;
      height: 40px;
      position: absolute;
      top: 28px;
      left: 61px;
      z-index: 1;
    }

    &::after {
      content: '';
     
      width: 32px;
      height: 4px;
      position: absolute;
      bottom: 30px;
      border-radius: 4px;
    }

    &__review {
      font-size: 12px;
      line-height: 2.55;
      font-weight: 500;
      padding-left: 7px;
      padding-right: 16px;
      padding-bottom: 6px;
      margin-top: 0;
      z-index: 2;
      margin-bottom: 0;
      text-align: center;
      background-image: repeating-linear-gradient(
        to bottom,
        rgba(250, 250, 250, 0),
        rgba(250, 250, 250, 0) 30px,
        #e1e1e1 1px,
        #e1e1e1 31px
      );
    }
  }
}
