$red-font: #d41443;
$pink-font: #ffa5ba;
$pink-svg: #fea5bb;
$pink-background: #fff5f6;
$white: #ffffff;
$hove-btn-white: #ecebeb;
$pitaja: #ffb8ca;
$coffee: #f0d1a5;
$pistachio: #c2e297;
$pink-bcg-light: #fff5f6;
$pinkt-bcg-dark: #ffb8ca;
$grey-line: #e1e1e1;
$copyright-font: #907e82;
$hove-btn-red: #c7133e;
$slider-red: #d31342;
$slider-grey: #d9d9d9;
$black: #000;
$slider-background: #fafafa;
$transparent: rgba(250, 250, 250, 0);

$font-family-primary: Titan One;
$font-family-secondary: DM Sans;

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
