$red-font: #d41443;
$pink-font: #ffa5ba;
$pink-svg: #fea5bb;
$white: #ffffff;
$hove-btn-white: #ecebeb;
$pitaja: #ffb8ca;
$coffee: #f0d1a5;
$pistachio: #c2e297;

$font-family-primary: Titan One;
$font-family-secondary: DM Sans;
