$red-font: #d41443;
$pink-font: #ffa5ba;
$pink-svg: #fea5bb;
$pink-background: #FFF5F6;
$white: #ffffff;
$hove-btn-white: #ecebeb;
$pitaja: #ffb8ca;
$coffee: #f0d1a5;
$pistachio: #c2e297;
$pink-bcg-light: #fff5f6;
$pinkt-bcg-dark: #ffb8ca;
$grey-line: #e1e1e1;
$copyright-font:#907e82;

$font-family-primary: Titan One;
$font-family-secondary: DM Sans;

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}