<section class="about" id="about">
  <img class="about__background-milk-image" src="./images/background-milk.png" />
  <img class="about__background-milk-image-desktop" src="./images/background-milk@3x.png" />
  <label class="about__first-headline">tradition and love</label>
  <h2 class="about__second-headline">how it’s made?</h2>
  <div class="about__wrapper">
    <picture class="about__img-wrapper">
      <source media="min-width: 1280px" src="./images/cow@3x.png" type="image/jpg" />

      <source media="(min-width: 768px)" srcset="./images/cow@2x.png" type="image/jpg" />
      <img class="about__image" src="./images/cow.png" />
    </picture>
    <div class="about__description-wrapper">
      <div class="about__first-description">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </div>

      <div class="about__second-description">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. <br />
        <br />
        <!-- <-------------------------------------->
        Aliquam erat volutpat. Aenean accumsan.

        <button class="about__btn read-more__open--HIM">
          Read more
          <svg class="about__btn-icon">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
