<link rel="preconnect" href="https://fonts.googleapis.com" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/><link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Titan+One&display=swap"
  rel="stylesheet"
/>
<section class="about">
  <div class="about__first-headline">tradition and love</div>
  <div class="about__second-headline">how it’s made?</div>
  
  <img class="about__image" height="279px" src="./images/cow.png" />
  <div class="about__first-description">
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
    eget, egestas eros. Maecenas eleifend erat at justo fringilla.
  </div>
  <div class="about__background-milk-image">
    <div class="about__second-description">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.

      <button class="about__btn">
        Read more
        <svg class="about__btn-icon" width="20px" height="9">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
