<div id="contacts">
<section class="contacts">
  <h2 class="contacts-header">Contacts</h2>
  <section class="container-contacts">
    <ul class="cards text-decoration">
      <li class="card">
        <p class="card__main-text">CAFE</p>
        <p class="card__text">Chicago</p>
        <p class="card__paragraph card__paragraph--first">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <div class="card__border card__border--first"></div>

        <ul class="text-decoration">
          <li>
            <h3 class="card__plan card__plan--first">Monday - Friday</h3>
            <p class="card__paragraph card__paragraph--second">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <h3 class="card__plan card__plan--second">Saturday - Sunday</h3>
            <p class="card__paragraph card__paragraph--third">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <div class="card__border card__border--second"></div>

        <ul class="card__nav text-decoration">
          <li>
            <a class="contacts-nav-color card__nav--style" href="tel:+61(0)383766284"
              >+61(0)383766284</a
            >
          </li>
          <li>
            <a class="contacts-nav-color" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="card">
        <p class="card__main-text card__main-text--foodtruck">FOOD TRUCK</p>
        <p class="card__text">Los Angeles</p>
        <p class="card__paragraph card__paragraph--first">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <div class="card__border card__border--first"></div>

        <ul class="text-decoration">
          <li>
            <h3 class="card__plan card__plan--first">Monday - Friday</h3>
            <p class="card__paragraph card__paragraph--second">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <h3 class="card__plan card__plan--second">Saturday - Sunday</h3>
            <p class="card__paragraph card__paragraph--third">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <div class="card__border card__border--second"></div>

        <ul class="card__nav text-decoration">
          <li>
            <a class="contacts-nav-color card__nav--style" href="tel:+61(0)383766284"
              >+61(0)383766284</a
            >
          </li>
          <li>
            <a class="contacts-nav-color" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="card">
        <p class="card__main-text">CAFE</p>
        <p class="card__text">New York</p>
        <p class="card__paragraph card__paragraph--first">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <div class="card__border card__border--first"></div>

        <ul class="text-decoration">
          <li>
            <h3 class="card__plan card__plan--first">Monday - Friday</h3>
            <p class="card__paragraph card__paragraph--second">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <h3 class="card__plan card__plan--second">Saturday - Sunday</h3>
            <p class="card__paragraph card__paragraph--third">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <div class="card__border card__border--second"></div>

        <ul class="card__nav">
          <li>
            <a class="contacts-nav-color card__nav--style" href="tel:+61(0)383766284"
              >+61(0)383766284</a
            >
          </li>
          <li>
            <a class="contacts-nav-color" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="container-contacts-btn">
    <div class="buttons">
      <button class="button__style button__style--primary our-location__open-btn">
        Our Locations
        <svg class="card__btn-icon card__btn-icon--red">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="button__style button__style--secondary read-more__open--FRAN">
        Franchise
        <svg class="card__btn-icon">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </section>
</section>
</div>