<footer class="footer">
  <div class="container">
    <div class="container__change">
      <div class="footer-texts">
        <p class="footer-texts__title">homemade ice cream made</p>
        <p class="footer-texts__catchword">with passion</p>
      </div>
      <div class="footer-media">
        <div class="footer-social">
          <ul class="footer-social__list list">
            <li class="footer-social__item">
              <a
                class="footer-social__link"
                href="https://github.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <div class="footer-social__sprite">
                  <svg class="footer-social__icon">
                    <use href="./images/icons.svg#icon-github"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li class="footer-social__item">
              <a
                class="footer-social__link"
                href="https://telegram.org"
                target="_blank"
                rel="noreferrer noopener"
              >
                <div class="footer-social__sprite">
                  <svg class="footer-social__icon">
                    <use href="./images/icons.svg#icon-telegram"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li class="footer-social__item">
              <a
                class="footer-social__link"
                href="https://www.facebook.com"
                target="_blank"
                rel="noreferrer noopener"
                ><div class="footer-social__sprite">
                  <svg class="footer-social__icon">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-contact">
          <span class="footer-contact__phone"
            >Feel free to contact<a class="footer-contact__link" href="tel:+610383766284">
              +61 (0) 383 766 284</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <span class="footer-copyright__info">&#xa9; 2019 - IceCream. All Rights Reserved.</span>
  </div>
</footer>
