<header class="icecream-wrapper">
  <div class="container">
    <div class="icecream">
      <!-- HEADER -->
      <div class="header-flex">
        <div class="header-logo">
          <a href="#" class="header-logo__link">
            <img src="../src/images/logo.png" alt="logo" />
          </a>
        </div>
        <div class="header-navigation">
          <nav class="header-navigation__section">
            <ul class="header-navigation__list">
              <li>
                <a class="header-navigation__list-item header-navigation__list-item--1" href="#"
                  >Home</a
                >
              </li>
              <li>
                <a class="header-navigation__list-item header-navigation__list-item--2" href="https://www.canva.com/design/DAFVS1ccobQ/q6ospMrG1JV06VShBB9d9w/watch?utm_content=D[…]mpaign=designshare&utm_medium=link&utm_source=publishsharelink"
                  >About&nbspus</a
                >
              </li>
              <li>
                <a class="header-navigation__list-item header-navigation__list-item--3" href="#about"
                  >How&nbspit's&nbspmade?</a
                >
              </li>
              <li>
                <a class="header-navigation__list-item header-navigation__list-item--4" href="#product"
                  >Our&nbspproducts</a
                >
              </li>
              <li>
                <a class="header-navigation__list-item header-navigation__list-item--5" href="#contacts"
                  >Contacts</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <button class="js-open-menu header-burger__button" data menu="#" aria expanded="true">
          <svg class="header-burger__icon">
            <use href="../src/images/icons.svg#icon-menu"></use>
          </svg>
        </button>
        <button class="header-form__button">
          Buy now &nbsp&nbsp>
        </button>
      </div>

      <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu">
          <svg
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
          >
            <path d="M1.25928 1L14.7408 15" stroke="white" />
            <path d="M1 14.7407L15 1.25924" stroke="white" />
          </svg>
        </button>
        <!-- MOBILE-MENU -->
        <ul class="mobile-menu">
          <li class="mobile-menu__element">
            <button class="mobile-menu__button" >Buy now</button>
          </li>
          <li class="mobile-menu__element">
            <a href="#" class="mobile-menu__element__link">Home</a>
          </li>
          <li class="mobile-menu__element">
            <a href="https://www.canva.com/design/DAFVS1ccobQ/q6ospMrG1JV06VShBB9d9w/watch?utm_content=D[…]mpaign=designshare&utm_medium=link&utm_source=publishsharelink" class="mobile-menu__element__link">About us</a>
          </li>
          <li class="mobile-menu__element">
            <a href="#about" class="mobile-menu__element__link">How it's made?</a>
          </li>
          <li class="mobile-menu__element">
            <a href="#product" class="mobile-menu__element__link">Our products</a>
          </li>
          <li class="mobile-menu__element">
            <a href="#contacts" class="mobile-menu__element__link">Contact</a>
          </li>
        </ul>
      </div>
        
 <div class="backdrop is-hidden" data-modal>
      <div class="backdrop__modal">
        <button type="button" class="backdrop__close-button" data-modal-close>
            <svg class="backdrop__close-icon"
                    fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
          >
            <path d="M1.25928 1L14.7408 15" stroke="black" />
            <path d="M1 14.7407L15 1.25924" stroke="black" />
          </svg>
        </button>

        <form class="backdrop-data">
          <h2 class="backdrop-data__legend">
            Choose your tastiest ice-cream
          </h2>
          <fieldset class="backdrop-data__fieldset">
            <label class="backdrop-data__label" for="name">Name</label>
           
            <input
              class="backdrop-data__input"
              type="text"
              name="text"
              id="name"
              placeholder
            />
          </fieldset>

          <fieldset class="backdrop-data__fieldset">
            <label class="backdrop-data__label" for="phone">Phone number</label>
            
            <input
              class="backdrop-data__input"
              type="tel"
              name="telephone"
              id="phone"
              placeholder
            />
          </fieldset>

          <fieldset class="backdrop-data__fieldset">
            <label class="backdrop-data__label" for="mail">Email</label>
           
            <input
              class="backdrop-data__input"
              type="email"
              name="email"
              id="mail"
              placeholder
            />
          </fieldset>
          <fieldset class="backdrop-data__fieldset2">
              <div class="backdrop-data__order">
            <ul class="backdrop-data__fieldset__list">      
            <h2 class="backdrop-data__legend2">
              Select a product
            </h2>
         
    <li class="backdrop-data__checkbox">
    <label>
    <input type="checkbox" name="milkshake" value="milksHake" checked />
    <a class="backdrop-data__checkbox--milkshake">Milkshake</a>
  </label></li>

    <li type="checkbox" class="backdrop-data__checkbox">
    <label>
    <input type="checkbox"  name="milkshake" value="milksHake" checked />
    <a class="backdrop-data__checkbox--coffee">Coffe</a>
  </label></li>

     <li class=".backdrop-data__checkbox">
    <label>
    <input type="checkbox"  name="milkshake" value="milksHake" checked />
    <a class="backdrop-data__checkbox--cream">Cream</a>
  </label></li>
</ul>
  
  <label>
    <input type="checkbox" class="backdrop-data__send" name="send" value="legal" checked />
    I declare that i accept regulations and the Privacy Policy
  </label>
  
  <button type="submit" class="backdrop-data__legal-button">
    SEND
  </button>
          </form>
        </fieldset>
        </div>
      </div>
   
      
    <script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"
    ></script>
 
      <!-- MOBILE-MENU-end -->
      <!-- HEADER-end -->
      <div class="icecream__content">
        <h1 class="icecream__title">
          ICE CREAM <br />
          MADE WITH
          <span class="icecream__title--secondary">PASSION</span>
        </h1>
        <ul class="icecream__buttons">
          <li>
            <a href="#product"
              ><button class="icecream__button icecream__button--primary">Products</button></a
            >
          </li>
          <li>
            <a href="#about"
              ><button class="icecream__button icecream__button--secondary">
                How it's made?
              </button></a
            >
          </li>
        </ul>
        <div class="icecream__milk">
          <div class="icecream__milk--pic scale-up-center"></div>
          <div class="icecream__milk--txt">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="icecream__arrow-button read-more__open--milk">
              <svg class="icecream__arrow-icon">
                <use href="./images/icons.svg#icon-arrow-one"></use>
              </svg>
            </button>
          </div>
        </div>
        <ul class="icecream__places">
          <li class="icecream__places--element">
            <div class="icecream__places--dot"></div>
            <p class="icecream__places--quant">16</p>
            <p class="icecream__places--name">cafes</p>
          </li>
          <li class="icecream__places--element">
            <div class="icecream__places--dot"></div>
            <p class="icecream__places--quant">23</p>
            <p class="icecream__places--name">food trucks</p>
          </li>
        </ul>
        <div class="icecream__tasty slide-bottom-delay"></div>
      </div>
      <div class="icecream__ice slide-bottom">
        <div class="icecream__ice--picture"></div>
      </div>
    </div>
  </div>
  </header>