<header class="icecream-wrapper">
  <div class="container">
    <div class="icecream">
      <div class="icecream__navbar">TU JEST NAVBAR</div>
      <div class="icecream__content">
        <h1 class="icecream__title">
          ICE CREAM <br />
          MADE WITH
          <span class="icecream__title--secondary">PASSION</span>
        </h1>
        <ul class="icecream__buttons">
          <li>
            <button class="icecream__button icecream__button--primary">Products</button>
          </li>
          <li>
            <button class="icecream__button icecream__button--secondary">How it's made?</button>
          </li>
        </ul>
        <div class="icecream__milk">
          <div class="icecream__milk--pic"></div>
          <div class="icecream__milk--txt">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="icecream__arrow-button">
              <svg class="icecream__arrow-icon">
                <use href="./images/icons.svg#icon-arrow-one"></use>
              </svg>
            </button>
          </div>
        </div>
        <ul class="icecream__places">
          <li class="icecream__places--element">
            <div class="icecream__places--dot"></div>
            <p class="icecream__places--quant">16</p>
            <p class="icecream__places--name">cafes</p>
          </li>
          <li class="icecream__places--element">
            <div class="icecream__places--dot"></div>
            <p class="icecream__places--quant">23</p>
            <p class="icecream__places--name">food trucks</p>
          </li>
        </ul>
        <div class="icecream__tasty"></div>
      </div>
      <div class="icecream__ice"></div>
      <div class="icecream__ice-elipse"></div>
    </div>
  </div>
</header>
