<div class="container">
  <div class="product-section">
    <label class="products__title--secondary">100% natural</label>
    <h1 class="products__title">products</h1>
    <ul class="product-group">
      <li class="product-item">
        <div class="product-item__background--primary">
          <div class="product-item__image"></div>
          <h2 class="product-item__title">ice cream</h2>

          <p class="product-item__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <p class="product-item__description-td">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="product-btn">
            <svg class="product-icon" width="10" height="10">
              <use href="./images/icons.svg#icon-arrow-one"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product-item">
        <div class="product-item__background--secondary">
          <div class="product-item__image"></div>
          <h2 class="product-item__title">ice coffee</h2>

          <p class="product-item__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <p class="product-item__description-td">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="product-btn">
            <svg class="product-icon" width="10" height="10">
              <use href="./images/icons.svg#icon-arrow-one"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product-item">
        <div class="product-item__background--tertiary">
          <div class="product-item__image"></div>
          <h2 class="product-item__title">milkshakes</h2>

          <p class="product-item__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <p class="product-item__description-td">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="product-btn">
            <svg class="product-icon" width="10" height="10">
              <use href="./images/icons.svg#icon-arrow-one"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
