<div class="read-more is-hidden">
  <button class="read-more__close-btn">
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
    >
      <path d="M1.25928 1L14.7408 15" stroke="white" />
      <path d="M1 14.7407L15 1.25924" stroke="white" />
    </svg>
  </button>
  <h2 class="read-more__title">LOREM IPSUM</h2>
  <p class="read-more__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, cumque repellat. Non, rerum
    culpa quas fugiat voluptatibus odit quae iure natus earum at et quidem, delectus reiciendis vero
    veritatis fuga consectetur error aliquid commodi modi odio hic? Vel ipsum, vero ullam, ipsa odit
    minima reiciendis cum rem obcaecati eligendi reprehenderit.
  </p>
</div>
