<div class="advantages-section" id="weight">
  <div class="container advantages-section__container">
    <h2 class="advantages-section__title">Advantages</h2>
    <ul class="advantages-section__list">
      <li class="advantages-section__item advantages-section__item--first">
        <div>721</div>
        <p class="advantages-section__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-section__item advantages-section__item--second">
        <div>16KG</div>
        <p class="advantages-section__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-section__item advantages-section__item--third">
        <div>84</div>
        <p class="advantages-section__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</div>
